doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Covid Stores
    link(rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet" href="/assets/css/font-awesome.min.css")
    link(rel="stylesheet" href="/assets/css/style.css")
  body(style="background-image: url('../images/bg-login7.jpg');background-repeat: no-repeat; background-size: cover; background-position: center;")
    .login
      .container
        .login-content
          .login-form
            .login-logo
              a(href="#")
                img(src="/images/logo.png" alt="Covid Stores")
                h2.login-logo-text Covid Stores
              h3 Manager Log In
            form(action="../admin/buyers" method="POST")
              .form-group
                label User Name
                input.form-control(type="text" name="username" placeholder="User Name")
              .form-group
                label Password
                input.form-control(type="password" name="password" placeholder="Password")
              button.btn.btn-success.btn-flat.m-b-30.m-t-30(type="submit") Sign in
              div(align="right")
                a(href="../login") Employees
