

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Covid Stores</title>

    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/bootstrap/js/jquery-3.5.1.js"></script>
    <script src="/assets/js/myjs.js"></script>
    
 

</head>

<body>
<div class="page-wrapper chiller-theme toggled">
    <!-- The button to show sidebar -->
    

 
 <!-- The button to show sidebar -->
  <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
    <i class="fas fa-bars"></i>
  </a>
      <!-- sidebar-content  -->
  <nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
        <!-- The area for the close sidebar button -->
       <div class="sidebar-brand">
        <div id="close-sidebar">
          <i class="fas fa-times"></i>
        </div>
      </div>
 
      <!-- sidebar-search  -->
      <div class="sidebar-search">
          <div class="input-group">
            <input type="text" class="form-control search-menu" placeholder="Search...">
            <div class="input-group-append">
              <span class="input-group-text">
                <i class="fa fa-search" aria-hidden="true"></i>
              </span>
            </div>
          </div>
      </div>
      <!-- sidebar-search  -->
      <!-- sidebar-menu  -->
      <div class="sidebar-menu">
        <ul>
          <li >
            <a href="#">
              <i class="fa fa-tachometer-alt"></i>
              <span>Dashboard</span>
            </a>
          </li>
          <li class="sidebar-dropdown">
            <a href="#">
              <i class="fa fa-shopping-cart"></i>
              <span>Products</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a href="Add_product">Add Product</a>
                </li>  
                <li>
                  <a href="#">Sales</a>
                </li>
                <li>
                  <a href="#">Orders</a>
                </li>
                <li>
                  <a href="#">Credit cart</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="sidebar-dropdown">
            <a href="#">
              <i class="fas fa-user"></i>
              <span>Staff Memebers</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a href="#">Employees</a>
                </li>
                <li>
                  <a href="#">Add Employee</a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
      <!-- sidebar-menu  -->
    </div>
    <!-- sidebar-content  -->
    <!-- sidebar-footer  -->
    <div class="sidebar-footer">
      <span>&copy Ignatius</span>
    </div>
  </nav>
  <!-- sidebar-footer  -->
  <!-- The navbar -->
  <div class="navbar-content">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="/images/logo.png" alt="Covid Stores"><h2 class="login-logo-text">Covid Stores</h2>
        </a>
    </nav>
  </div>
  <!-- The navbar -->
  

  <main class="page-content">
    
    <div class="container-fluid">
        
      <h2>Main Board</h2>
      <hr>
      

    </div>
  </main>
  <!-- page-content" -->
</div>
<!-- page-wrapper -->
    <script src="/assets/bootstrap/js/jquery-3.5.1.js"></script>
    <script src="/assets/bootstrap/js/popper.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    
</body>
<script src="/assets/js/navbar.js"></script>
</html>