extends user_layout
block content
    style.
        .abt{
            display: block;
            width: 50%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 10vh;
            background-color: white;
            height: 200px;
            padding: 20px;
        }
    div.abt
        p In a bid to improve on the livelihood of our customers who might not be able pay wholesomely for the items that are expensive but vital and necessary in life such as; furniture, fitness kits and machinery, TV sets, home theaters etc. 
        br 
        p Covid-Stores, is here to help you access services and buy these products on this site in installments.