extends user_layout
block content
    style.
        .container{
                background:white; 
                margin-top: 35px;
                margin-bottom: 35px;
                text-align:center;
            }
        img{
                margin-left: auto;
                margin-right: auto;
                height: 45%;
                 
                display: block;
        }
        @media(max-width: 920px){
            .container{ 
                width:85%; 
                height:85%;
            }
        }
        @media(min-width: 920px){
            .container{ 
                width:35%; 
                height:inherit;
            }
        }
        .description-heading{
                    font-size: 40px;
                    font-weight: bold;
                    color: red;
        }
        .description-body{
            width: auto;
            height: auto;
            text-align: center;
            transform: skew(10deg);
            background: red;
            color:white;
            padding: 10px;
        }
    div.container
        each new_product in new_products
            h1 #{new_product.product_name}
            img(src=new_product.product_image, alt="")
            p.description-heading #{new_product.price}.00 ugx
            p.description-body #{new_product.description}