doctype html
html
    meta(charset="utf-8" name="viewport" content="width=device-width,initial-scale=1.0")
    link(rel="stylesheet" type="text/css" href="/assets/js/bootstrap.min.css")
    script(src="/assets/js/jquery.min.js")
    script(src="/assets/js/bootstrap.min.js")
    style(type="text/css").
        input{
            width: 50%;
            height: 20px;
            display: block;
            margin: 20px auto;
            border-radius: 30px;
            text-align: center;
            font-family: "Cooper Std Black";
            cursor: pointer;
        }
        .slogan{
        width: 100%;
     
        font-weight: bold;
        font-family: "ink free";
        font-size: 2vmin;
        text-align: center;
        color: azure;
    
        }
        @media(max-width: 500px){
     
        .navbar-default .navbar-nav>li>a{
        color: azure;
        }
        .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
        background-color: rgba(0,0,0,0.7);
        }

        }
        @media(max-width: 700px){
        .nav0{
        color: azure;
        z-index: 1;

        width: 100%;
        }
        }
        .nav0{
        color: azure;
        z-index: 1;
        width: 100%;
        border-top: 1px solid rgba(0,0,0,0.3);
        background: rgba(0,0,0,0.25);
        box-shadow: inset 0 1px rgba(255,255,255,0.3),inset 0 10px rgba(255,255,255,0.2),inset 0 10px 20px rgba(255,255,255,0.25),inset 0 -15px 30px rgba(0,0,0,0.3);
        }
        .nav1{
        margin-top: 50px;
        bottom: 0px;
        background-color: red;
        padding: 0;
        left: 0;
        right: 0;
        }
        #photo{
        margin-top: -45vh;
        margin-left: -20vw;
        z-index: -1;
        }
        ul li:hover{
        background-color: silver;
        }
        .navbar-inverse .navbar-nav>li>a{
        color: azure;
        }
        .navbar-inverse .navbar-nav .ryt>a{
        color: blue;
        margin-right: 0;
        }
        .dropdown-menu>li>a{
        background-color: rgba(1,1,1,0.7);
        color: azure;
        }
        .navbar-inverse .navbar-nav .open .dropdown-menu>li>a{
        color: azure;
        background-color: rgba(0,0,0,0.0);
        }
        .dropdown-menu{
        background-color: grey;
        }
        .logo_img{
           vertical-align: bottom;
           height: 10vmin; 
        }

        .sticky {
        position: fixed;
        top: 0;
        width: 100%;
        }

        body {
            background:url("/images/bg_user2.jpg") fixed;
            overflow:scroll;
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }

        .main_content{
             
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: auto;
                grid-area: content;
                width:100%;
                
                overflow-y: scroll;
                overflow-x: hidden;
                padding-bottom: 70px;
        }

        .letterAnimation {
        -webkit-animation: changeBckg 60s ease infinite;
        animation: changeBckg 60s ease infinite;
        }
        .wave{
        position: fixed;
        z-index: 1;
        width: 100%;
        height: 6vh;
        bottom: 0;
        left: 0;
        opacity: 0.8;
        background: url(/images/wave.png);
        background-size:1360px 100%;
        animation: animate 10s linear infinite;
        }
        .wave:before{
        content: '';
        position: absolute;
        width: 100%;
        height: 6vh;
        background: url(/images/wave.png);
        background-size:1360px 100%;
        top: 0;
        left: 0;
        opacity: 0.4;
        animation: animate-reverse 10s linear infinite;
        }
        .wave:after{
        content: '';
        position: absolute;
        width: 100%;
        height: 6vh;
        background: url(/images/wave.png);
        background-size:1360px 100%;
        top: 0;
        left: 0;
        opacity: 0.6;
        animation-delay: -5s;
        animation: animate 20s linear infinite;
        }
        @keyframes animate
        {
        0%{
        background-position: 0;
        }
        100%{
        background-position: 1360px;
        }
        }
        @keyframes animate-reverse
        {
        0%{
        background-position: 1360px;
        }
        100%{
        background-position: 0;
        }
        }
    head
        title THE JOINT
    body
        div.head_section
            div(style="text-align:center;  width:100%;")
                img(src="/images/logo.png" alt="Covid Stores").logo_img    
                div(style="font-size: 7.5vmin; font-weight: bold; font-family: Algerian; color:azure ; display:inline-block; ") Covid Stores
            div.slogan WE HAVE  YOUR BACK
            nav.nav0.navbar-inverse#navbar(class="navbar-expand-xl|lg|md|sm")
                div.container-fluid
                    div.navbar-header
                        button.navbar-toggle(type="button" data-toggle="collapse" data-target="#mainNavBar")
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        a(href="#") &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    div#mainNavBar.collapse.navbar-collapse
                        ul.nav.navbar-nav
                            li
                                a.scroll.hvr-bounce-to-bottom(href="index.php") HOME
                            li.dropdown
                                a.dropdown-toggle(href="#" data-toggle="dropdown")
                                    | MENU 
                                    span.caret
                                ul.dropdown-menu
                                    li
                                        a(href="load_data_select.php") FOOD
                                    li
                                        a(href="load_data_select_drinks.php") DRINKS
                            li
                                a.scroll.hvr-bounce-to-bottom(href="about.php") ABOUT
        div.container
            section#main_content
                block content        
        .wave
        script.
            window.onscroll = function() {myFunction()};
            var navbar = document.getElementById("navbar");
            var section = document.getElementById("main_content");
            var sticky = navbar.offsetTop;
            function myFunction() {
            if (window.pageYOffset >= sticky) {
            navbar.classList.add("sticky")
            section.classList.add("main_content")
            } else {
            navbar.classList.remove("sticky");
            section.classList.remove("main_content")
            }
            }


